<mat-toolbar>{{tipo}} de {{ caja.nombre }}</mat-toolbar>

<br/>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="30%">
    <mat-form-field class="full-width-form">
      <input matInput placeholder="Motivo" required [(ngModel)]="motivo" type="text">
    </mat-form-field>
  </div>
  <div fxFlex="30%">
    <mat-form-field class="full-width-form">
      <input matInput placeholder="Monto" required [(ngModel)]="monto" type="number">
    </mat-form-field>
  </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="60%">
    <button mat-raised-button class="button-form" color="primary" type="button" (click)="guardar()">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>

    <button mat-raised-button class="button-form" color="accent" routerLink='/caja' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </div>
</div>
<br/>