<mat-toolbar>Aporte</mat-toolbar>

<br/>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="20%">
    <mat-form-field class="full-width-form">
      <mat-select [compareWith]="compareCajas" placeholder="Caja" required [formControl]="formCaja" (selectionChange)="changeCaja($event)">
        <mat-option *ngFor="let ti of cajas" [value]="ti">
          {{ ti.nombre + "-" + ti.monto }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="20%">
    <mat-form-field class="full-width-form">
      <input matInput [matDatepicker]="picker3" placeholder="Fecha" [(ngModel)]="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxFlex="20%">
    <mat-form-field class="full-width-form">
      <input matInput placeholder="Monto" required [(ngModel)]="monto" type="number">
    </mat-form-field>
  </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="40%">
    <mat-form-field class="full-width-form">
      <input type="text" placeholder="Socio" matInput [matAutocomplete]="autoSocio" [formControl]="formSocio">
      <mat-autocomplete #autoSocio="matAutocomplete" [displayWith]="displayFnSocio" (optionSelected)="seleccionarSocio($event)">
        <mat-option *ngFor="let p of filteredSocio | async" [value]="p">
          {{ p.cedula + " - " + p.nombres + " " + p.apellidos }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div fxFlex="10%">
    <mat-form-field class="full-width-form">
      <mat-select [compareWith]="compareMeses" placeholder="Mes" required [formControl]="formMes" (selectionChange)="changeMes($event)">
        <mat-option *ngFor="let ti of meses" [value]="ti">
          {{ ti }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="10%">
    <mat-form-field class="full-width-form">
      <input matInput placeholder="Año" required [(ngModel)]="anio" type="number">
    </mat-form-field>
  </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="60%">
    <button mat-raised-button class="button-form" color="primary" type="button" (click)="crearAporte()">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>

    <button mat-raised-button class="button-form" color="accent" routerLink='/aporte' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  </div>
</div>
<br/>