.container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table{
    overflow: auto;
    max-height: 500px;
  }

  .mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
      width: 60px;
      display: inline-block;
      font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 10px;
      min-height: 0px;
    }

    .mat-column-fecha,
    .mat-column-registro,
    .mat-column-ip,
    .mat-column-accion,
    .mat-column-aplicacion,
    .mat-column-usuario {
        max-width: 100% !important;
        min-height: 0px;
    }
    mat-cell:first-child{
        padding-left: 0px;
    }
  }
  
  /* Column Widths */
  .mat-column-fecha{
    max-width: 100px;
  }
  .mat-column-ip{
    max-width: 110px;
  }

  .mat-column-accion,
  .mat-column-aplicacion,
  .mat-column-usuario {
    max-width: 80px;
  }
 
  mat-cell{
    font-size: 0.7em;
  }