<mat-card>Datos de Socio</mat-card>

<br/>

<form class="form" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="full-width-form">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="30%">
      <mat-form-field class="full-width-form">
        <input matInput placeholder="Nombres" required formControlName="nombres">
      </mat-form-field>
    </div>

    <div fxFlex="30%">
      <mat-form-field class="full-width-form">
        <input matInput placeholder="Apellidos" required formControlName="apellidos">
      </mat-form-field>
    </div>

  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="30%">
      <mat-form-field class="full-width-form">
        <input matInput placeholder="Cédula" required formControlName="cedula">
      </mat-form-field>
    </div>

    <div fxFlex="30%">
      <mat-form-field class="full-width-form">
        <input matInput placeholder="Teléfono" required formControlName="telefono">
      </mat-form-field>
    </div>

  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

      <div fxFlex="60%">
          <mat-form-field class="full-width-form">
            <input matInput placeholder="Dirección" required formControlName="direccion">
          </mat-form-field>
        </div>

  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="60%">
      <button mat-raised-button class="button-form" color="primary" type="submit" [disabled]="loginForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
      </button>

      <button mat-raised-button class="button-form" color="accent" routerLink='/socio' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
      </button>
    </div>
  </div>

</form>

<br/>